{
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "es5",
	"printWidth": 130,
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"jsxSingleQuote": false
}
